[submodule "Dependencies/meshoptimizer"]
	path = Dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Dependencies/MikkTSpace"]
	path = Dependencies/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
